body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    width: 100%;
}

.mdl-layout{
  height: auto;
}

.hide-temp {
    display: none;
}

.mdl-layout__drawer-button {
    color: silver !important;
}

@media screen and (min-width:320px) and (max-width: 480px){

    .mdl-grid {
        width: 95%;
    }

    .mdl-fw {
        width: 100%;
    }

    .bluebg {
        width:100%;
    }

    .bluediv {
        margin: 0;
    }

    .main-div {
        width: 100%;
        padding: 0;
    }

    .consult form{
        z-index: 1;
        background: white;
        position: relative;
    }

    .blue-parent-div {
        margin-top: -50px;
        z-index: 0;
    }

    .map {
        min-height: 300px;
        width: 100%;
    }

    .mapshape {
        width: 100%;
    }

    .footer1 {
        width: 100%;
    }

    .footer, .socialmedia {
        background: url("../public/img/Shapes/Footer.png");;
        width: 100%;
        max-height: 286px;
        margin: 0;
        padding: 0;
        color: #ffffff;
    }
    .footerlabel{
        height: 94%;
        padding: 30px 2vw;
    }

    .fbicon, .twittericon, .youtubeicon{
        /*height: 100%;*/
        width: 60%;
    }
}
@media screen and (min-width:481px) {}
@media screen and (min-width:567px) {}
@media screen and (min-width:940px) {}
@media screen and (min-width:1024px) {}
@media screen and (min-width:1220px) {

    .bluediv {
        width: 100%;
        margin: 0;
    }

    form div.mdl-grid {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .mdl-grid {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .mdl-fw {
        width: auto;
    }

    .header{
        color: #ffffff;
    }
    .page-content{
        background: url('../public/img/bg/Cwd-Web.png');
    }

    .mdl-layout__header{
        box-shadow:none;
        background: #ffffff;
        color: #c2c2c2;
    }

    .webcover{
        z-index: 1;
    }

    .submenu{
        color: #c2c2c2 !important;
    }

    /* Start Shapes*/
    .ellipse{
        position: absolute;
        z-index: 0;
        margin-left: -41px;
        margin-top: 270px;
    }

    .polygon1{
        /*margin-left: 268px;*/
        position: absolute;
        z-index: 0;
        margin-left: 300px;
        margin-top: 65px;
    }

    .shapepolygon{
        /*margin-left: 20%;*/
        /*margin-top: 19px;*/
        /*height: 84px;*/
        position: absolute;
        z-index: 0;
    }

    .rectangle{
        position: absolute;
        z-index: 0;
        margin-left: 55%;
    }

    .rectangle3{
        position: absolute;
        z-index: 0;
        margin-left: 87%;
        margin-top: 5%;
    }

    .ellipse2{
        position: absolute;
        z-index: 0;
        margin-left: 75%;
        margin-top: 43%;
    }

    .polygon3{
        position: absolute;
        z-index: 0;
        margin-top: 52%;
        margin-left: 85%;

    }

    .rectangle05{
        position: absolute;
        z-index: 0;
        margin-left: 94%;
        margin-top: 38%;
        height: 8%;
    }

    .rectangle4{
        position: absolute;
        z-index: 0;
        margin-top: 987px;
        margin-left: 400px;
    }

    .rectangle6{
        position: absolute;
        z-index: 0;
        margin-top: 945px;
        width: 485px;
        margin-left: 222px;
    }

    .polygon2{
        position: absolute;
        z-index: 0;
        margin-left: 46%;
        margin-top: 819px;
        height: 55px;
    }

    .polygon22{
        position: absolute;
        z-index: 0;
        margin-left: 56%;
        margin-top: 2633px;
        height: 60px;
    }

    .polygon33{
        position: absolute;
        z-index: 0;
        margin-left: 93%;
        margin-top: 2710px;
        height: 45px;
    }

    .ellipse22{
        position: absolute;
        z-index: 0;
        margin-top: 2606px;
        margin-left: 288px;
        height: 40px;
    }

    .polygon44{
        position: absolute;
        z-index: 0;
        margin-top: 2855px;
        margin-left: 287px;
        height: 110px;
    }

    .rectangle1{
        position: absolute;
        z-index: 0;
        margin-top: 2763px;
        margin-left: 26px;
        height: 51px;
    }

    .rectangle2{
        position: absolute;
        z-index: 0;
        margin-top: 2890px;
        margin-left: 1171px;
        height: 100px;
    }
    /* End Shapes*/

    .newweb{
        margin-top: -24px;
        color: #f5822c;
        font-size: 43px;
        text-align: center;
    }

    .shape6{
        width: 89px;
        height: 3px;
        margin-left: 95px;
    }

    .shape5{
        height: 108px;
        margin-top: 242px;
        margin-left: 180px;
    }

    .nxtpro{
        font-size: 14px;
        color: #363636;
        text-align: center;
        margin-right: 304px;
    }

    .newwebcaption{
        margin-left: 114px;
        margin-top: -13px;
    }

    .getsbutton{
        margin-left: 114px;
        margin-top: 10px;
    }

    .laptop{
        margin-top: 116px;
        height: 378px;
    }

    .web{
        margin-top: 116px;
        /*margin-left: -358px;*/
    }

    .aboutpage{
        width: 100%;
    }

    .caption{
        margin-top: -94px;
        margin-left: 213px;
        color: #fff;
    }

    .logo{
        height: 165px;
        margin-top: 193px;
        margin-left: 130px;
    }

    .caption1{
        margin-left: 52px;
        margin-top: 35px;
    }

    /*.polygon3{*/
    /*height: 60px;*/
    /*margin-top: -854px;*/
    /*margin-left: 405px;*/
    /*}*/

    /* Start Features Design */
    .features1{
        height: 188px;
        margin-top: 244px;
        margin-left: 100px;
        margin-bottom: 58px;
    }

    .features2{
        height: 188px;
        margin-top: 244px;
        margin-left: 130px;
        margin-bottom: 58px;
    }

    .features3{
        height: 188px;
        margin-top: 244px;
        margin-left: 130px;
        margin-bottom: 58px;
    }

    .oms{
        color: #f5822c;
        margin-left: 132px;
    }

    .omsfeatures1{
        margin-top: 20px;
        margin-left: 100px;
    }

    .wd{
        color: #f5822c;
        margin-left: 185px;
    }

    .wdfeatures2{
        margin-top: 20px;
        margin-left: 130px;
    }

    .dg{
        color: #f5822c;
        margin-left: 189px;
    }
    .dgfeatures3{
        margin-top: 20px;
        margin-left: 120px;
    }

    /*END FEATURES DESIGN*/

    /*Start Products Design*/
    .photolivelogo{
        height: 209px;
        margin-left: 189px;
    }

    .photoliveinfo{
        margin-top: 20px;
        margin-left: 23px;
    }

    .products{
        padding-top: 88px;
    }

    .products1{
        font-size: 22px;
        padding-left: 22px;
        color: #f5822c;
    }

    .productbtn{
        margin-left: 20px;
    }

    .shape666{
        width: 66px;
        height: 2px;
        margin-top: 50px;
        margin-left: -100px;
    }

    /*end Products*/

    /*Start Feedback*/
    .feedbackgrid{
        background-color: #f8f8f8;
        height: 456px;
        /*margin-left: -5px;*/
        width: 100%;
        margin-top: 105px;
    }
    .feedback{
        margin-top: 131px;
    }

    .titleqoute{
        font-size: 30px;
    }

    .feedback1{
        padding-top: 123px;
    }

    .cfeedback{
        font-size: 20px;
        margin-right: 168px;
        color: #f5822c;
        margin-left: 106px;
    }

    .shape6{
        width: 89px;
        height: 3px;
        margin-left: 113px;
        margin-top: -49px;
    }

    .comments{
        margin-left: 107px;
    }

    .jonathan{
        height: 120px;
    }

    .photo{
        margin-left: 55px;
    }

    .name{
        margin-top: 46px;
        margin-left: -122px;
    }

    .qoute{
        font-size: 80px;
        color: #f5822c;
        font-size: 100px;
    }

    .clientqoute{
        margin-left: 64px;
    }

    .company{
        color: #f5822c;
    }
    /*end feedback*/

    /* start free consultation*/
    .consult{
        padding-top: 100px;
    }
    .consultation{
        /*margin-top: 298px;*/
    }
    .consultation1{
        width: 450px;
        margin-left: 116px;
        z-index: 1;
        background: white;
    }

    .constitle{
        font-size: 20px;
        margin-right: 168px;
        color: #f5822c;
        margin-left: 90px;
    }

    .shape6666{
        width: 89px;
        height: 3px;
        margin-left: 95px;
    }

    .conscomments{
        margin-left: 90px;
    }

    .table{
        margin-top: -203px;
        margin-left: 800px;
    }

    /*form*/
    .input{
        background-color: #f8f8f8;
        /*margin-top: -29px;*/
    }

    #sample5{
        background-color: #f8f8f8;
    }

    .message{
        width: 100%;
    }

    .fname{
        margin-top: -38px;
    }

    .lname{
        margin-top: -38px;
    }

    .emailadd{
        margin-top: -38px;
    }

    .phone{
        margin-top: -38px;
    }

    .message1{
        margin-top: -38px;
    }

    .checkbtn{
        width: 50%;
        margin-left: 10px;
    }

    .submitbtn{
        width: 100%;
    }
    /* end free consultation*/

    /*blue background*/
    .bluebg{
        /*margin-left: -24px;*/
        margin-top: -126px;
    }
    /*blue background*/

    /*start Map*/
    .map{
        height: 286px;
        width: 100%;
        margin-top: -24px;
        /*margin-left: -15px;*/
    }

    .tmap{
        color: #f5822c;
    }

    .cwdmap{
        background-color: #fff;
        width: 30%;
        z-index: 1;
        position: absolute;
        padding: 30px;
        margin-left: -16px;
    }

    .drop{
        color: #f5822c;
    }

    .cwdadd{
        /*margin-left: -301px;*/
        margin-top: 22px;
    }

    .mapshape{
        margin-top: 30px;
        margin-left: -159px;
        width: 89px;
        height: 3px;
    }

    /*end Map*/

    /*start Footer*/
    .footer{
        background: url("../public/img/Shapes/Footer.png");
        margin-top: -25px;
        height: 286px;
        width: 100%;
        /*position: relative;*/
        /*z-index: 1;*/
        /*margin-left: -16px;*/
    }

    .footer1{
        /*height: 286px;*/
        /*width: 100%;*/
    }

    .footerlabel{
        /*margin-bottom: 0;*/
        /*margin-top: -219px;*/
        color: #fff;
        /*padding-left: 179px;*/
        padding: 50px 0 0 179px;

    }

    .footerlabel1{
        /*margin-top: -219px;*/

    }

    .fbicon{
        height: 38px;
        margin-left: 80%;
    }

    .twittericon{
        height: 38px;
        margin-left: 80%;
    }

    .twitter{
        margin-top: -14px;
    }

    .youtubeicon{
        height: 38px;
        margin-left: 80%;
    }

    .youtube{
        margin-top: -14px;
    }

    .socialmedia{
        /*margin-top: -243px;*/
        padding: 50px 0 50px 0;
    }

    .tandc{
        margin-top: 19px;
        color: #fff;
        font-size: 12px;
    }

    .blog{
        margin-top: 19px;
        color: #fff;
        font-size: 12px;
    }

    .footercontact{
        margin-top: 19px;
        color: #fff;
        font-size: 12px;
    }

    .worklabel{
        font-size: 25px;
    }

    .footercopyright{
        margin: 0 0 40px 0;
    }
    /**end Footer*!*/

}
@media screen and (min-width:1583px) {

    .page-content{
        background: url('../public/img/bg/Cwd-Web1.png');
    }

    /*Start Shape*/

    .polygon1{
        margin-left: 448px;
    }

    .rectangle{
        margin-left: 992px;
    }

    .shape5{
        margin-top: 318px;
    }

    rectangle4{
        margin-top: 1134px;
    }

    rectangle6{
        margin-top: 1087px;
        margin-left: 185px;
    }

    .polygon3{
        margin-left: 1337px;
        margin-top: 902px;
    }

    .rectangle05{
        margin-top: 625px;
        height: 409px;
    }

    .polygon2{
        margin-top: 979px;
        margin-left: 550px;
        height: 66px;
    }

    .polygon22{
        margin-top: 2765px;
    }

    .ellipse22{
        margin-top: 2718px;
        margin-left: 350px;
    }

    .polygon44{
        margin-top: 2993px;
        margin-left: 350px;
    }

    .rectangle1{
        margin-top: 2903px;
        margin-left: 97px;
    }

    .polygon33{
        margin-top: 2844px;
        margin-left: 1430px;
    }

    /*End Shape*/

    .laptop{
        margin-top: 139px;
        margin-left: 52px;
        height: 422px;
    }

    .nxtpro{
        letter-spacing: 5px;
        margin-left: 85px;
    }

    .shape6{
        margin-top: -37px;
        margin-left: 172px;
    }

    .newwebcaption{
        margin-left: 171px;
    }

    .getsbutton{
        margin-left: 170px;
    }

    .logo{
        margin-top: 280px;
    }

    .caption1{
        margin-top: 15px;
    }



    .shape6666{
        margin-left: 191px;
        margin-top: 10px;
    }

    .cfeedback{
        margin-left: 212px;
    }

    .shape6{
        margin-left: 216px;
        margin-top: 10px;
    }

    .comments{
        margin-left: 215px;
        margin-top: 10px;
    }

    .constitle{
        margin-left: 189px;
    }

    .conscomments{
        margin-left: 188px;
        margin-top: 10px;
    }

    .bluebg{
        width: 100%;
    }

}


